body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input, select, textarea {
    width: calc(100% - 6px);
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.individual-inputs input {
    height: 3em;
    width: 2em;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    margin-right: -4px;
}

/* Checkbox Columns Styles */
.checkbox-columns {
    column-count: 2;
    column-gap: 20px;
}

/* Clearfix for the checkbox columns */
.checkbox-columns label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-columns input[type="checkbox"],
.checkbox-columns input[type="radio"] {
    margin: 0;
    margin-right: 5px;
}

